<p id="notice"><%= notice %></p>
<p>
  <strong>Subject Code:</strong>
  <%= @subject.subject_code %>
</p>
<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Klass:</strong>
  <%= Klass.find(@subject.klass_id).name %>
</p>
 <%if current_user.has_role? :admin%>
<%= link_to 'Edit', edit_subject_path(@subject) %> | <%end%>
<%= link_to 'Back', subjects_path %>
